extends ../shared/template.pug

//- Titulo de la pagina
block title
  title CodeRamuri | Inicio

//- Contenido de la pagina 
block content
  h1 es el home o inicio
  img("src='./assets/descarga.png'")